.content-wrapper {
    min-height: calc(100vh - 70px);
    width: 80%;
  }

.films-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    border-left: 1px solid gray;

    .film-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        margin: 30px 20px;
        background: rgb(165, 158, 158);

        .film-img {
            width: 140px;
            margin-top: 15px;
        }

        .film-title {
            height: 50px;
            text-align: center;
        }

        button { 
            outline: none;
            background: rgb(224, 224, 143);
            border: 1px solid white;
            height: 35px;
            width: 90px;
            cursor: pointer;

            &:hover {
                background: darken(rgb(224, 224, 143), 20%);
            }
        }

        .do-btns-wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            padding: 0 10px;
            margin-bottom: 20px;

            .favorites-btn {
                width: 32px;
            }
        }

        // .added-favorites {
        //     background: rgb(156, 224, 143);

        //     &:hover {
        //         background: darken(rgb(156, 224, 143), 20%);
        //     }
        // }
    }

   
}

.pages-wrapper {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    font-size: 26px;
    font-weight: bold;
    vertical-align: center;

    button {
        width: 60px;
        margin: 0 20px;
        background: rgb(175, 207, 188);
        border: 1px solid #fff;
        outline: none;
        cursor: pointer;

        &:active {
            background: rgb(99, 131, 99);
        }
    }

    .hidden {
        visibility: hidden;
    }

    p {
        width: 40px;
        margin: 0 20px;
        text-align: center;
    }
}